<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to the Page</h1>
        <!-- <a href="{% url 'initiate_oauth' %}">Login with Salesforce</a> -->
        <button id="salesforce-login">Login with Salesforce</button>
        <script>
            document.getElementById('salesforce-login').addEventListener('click', function() {
                window.location.href = "{% url 'initiate_oauth' %}";
            });
        </script>
    </body>
</html>